/* SHOW HISTORY */

.container-history {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 60%;
  margin-top: 1rem;
}

.container-user {
  padding: 1rem;
  border: 2px solid rgba(241, 239, 239, 0.952);
  cursor: pointer;
  border-radius: 20px;
  width: 50%;
  display: flex;
  margin: 1.5rem 1.5rem;
}

.ring {
  border-radius: 50%;
  width: 15px;
  height: 15px;
}

.middle-history {
  width: 75%;
}

.name-container {
  position: relative;
  display: flex;
}

.name {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.date-history {
  position: absolute;
  font-weight: 400;
  font-size: 1em;
  font-style: italic;
  color: rgba(0, 0, 0, 0.4);
  right: 26%;
  margin-top: -1.5rem;
}

.text-history {
  display: flex;
  height: 4rem;
  overflow: hidden;
  margin-top: 0.3rem;
  font-size: 1.2rem;
}

.icon-history {
  position: absolute !important;
  margin-top: -3rem !important;
  right: 26%;
}

/* SHOW MESSAGES */

.container-message {
  margin-top: 2rem;
  width: 100%;
  height: 80rem;
  display: flex;
  justify-content: center;
}

.icon-message {
  position: absolute;
  left: 0;
  padding: 2rem;
}

.container-conv {
  max-height: 80rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 50%;
  border: 2px solid rgb(212, 218, 212);
  border-radius: 20px;
  padding: 0.5rem;
  height: 100%;
}

/* PROFILE PART */

.show-profile {
  position: fixed;
  top: 7rem;
  width: 49%;
  height: 5rem;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom: 1px solid rgb(212, 218, 212);
}

.container-profile {
  overflow: hidden;
  display: flex;
  align-items: center;
  height: 100%;
}

.avatar-message {
  width: 4rem !important;
  margin-left: 1rem;
  cursor: pointer;
}

.name-profile {
  cursor: pointer;
  font-size: 1.5rem;
  margin: 0 0.6rem 0 1rem;
}

.last-connection {
  font-style: italic;
  margin-left: 0.5rem;
}

/* MESSAGES PART */

.show-messages {
  max-height: 65rem;
  overflow: hidden;
  overflow: scroll;
  overflow-x: hidden;
  padding: 1rem;
}

.date-value-receiver {
  font-style: italic;
  color: rgb(172, 170, 170);
  width: 100%;
  padding: 1rem 0 0.6rem 0;
  display: flex;
  justify-content: flex-end;
}

.date-value-sender {
  font-style: italic;
  color: rgb(172, 170, 170);
  width: 100%;
  padding: 1rem 0 0.6rem 0;
}

.container-message-receiver {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.container-message-sender {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.message-value {
  white-space: pre;
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  border-radius: 20px;
  padding: 1.5rem;
  max-width: 45%;
}

/* TYPING PART */

.message-typing {
  margin-top: 2rem;
  height: 7rem;
  display: flex;
}

.textarea-message {
  margin-left: -4rem !important;
  min-width: 100% !important;
  max-height: 7rem;
  min-height: 7rem;
  border-bottom-left-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
  border: 1px solid rgb(212, 218, 212);
}

.send-icon {
  cursor: pointer;
  min-width: 10% !important;
  max-width: 10% !important;
  height: 100% !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
