.title-container-preferences {
  width: 110%;
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.container-preferences {
  width: 100%;
  margin-top: 0.5rem;
}

.preferences {
  width: 45rem;
  display: flex;
  justify-content: space-evenly;
  height: 2rem;
  margin-top: 4rem;
  font-size: 1.5rem;
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.text-preferences {
  margin-left: 0.5rem;
}

select {
  margin-left: 0.5rem;
}

.form-textarea {
  width: 100%;
}

.bio {
  width: 100% !important;
  margin-top: 4rem !important;
}

.button-edit-preferences {
  width: 50%;
  margin: 2rem 0 0 25% !important;
}

.edit-text {
  margin: 2rem 0 0 0rem;
  text-align: center;
}

@media screen and (max-width: 1300px) {
  .title-container-preferences {
    padding-top: 10%;
    margin: unset !important;
    width: unset !important;

    font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  }

  .button-edit-preferences {
    margin: 3rem 0 0 0 !important;
  }
  .container-preferences {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
