.card .image {
  top: 0px;
  left: 0px;
  width: 290px;
}
.card .profile-pic-card {
  display: block;
  max-width: 290px;
  max-height: 255px;
  object-fit: contain;
}
.ui.card {
  /* left: 20px; */
  display: block;
  position: relative;
  float: left;

  margin-left: 30px;
}
.popularity {
  position: relative;
  top: -30px;
  /* border: 2px solid red; */
  background-color: rgba(173, 173, 173, 0.671);
  height: 30px;
}
.venus.icon {
  color: rgb(255, 73, 103);
}
.mars.icon {
  color: rgb(0, 153, 255);
}
.mars.stroke.horizontal.icon {
  color: rgb(143, 0, 187);
}
.right.floated.popscore {
  /* color: hsl(30, 100%, 50%); */
}
