.body-container {
  display: flex;
  justify-content: center;
  padding-right: 15rem;
}

.profile-background {
  width: 100%;
  height: 25rem;
}

.top-container {
  display: flex;
  justify-content: center;
}

.left-container {
  display: flex;
  width: 50%;
}

.user-name {
  margin-left: -5rem;
  position: relative;
  top: 5rem;
  font-size: 2.5rem;
}

.block-container {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1300px) {
  .middle-container,
  .end-container {
    display: flex;
    flex-direction: column;
  }
  .media-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.middle-container {
  display: flex;
  justify-content: space-evenly;
  width: 75%;
}

.end-container {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  padding-bottom: 10%;
}

.toast-message {
  position: fixed !important;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22) !important;
  top: 5rem;
  right: 2rem;
  z-index: 1;
}
