.logo {
  width: 60px;
}

.home {
  color: black !important;
}

.home:active {
  color: black !important;
}

.item-page {
  cursor: pointer;
}

.item-page:hover {
  background-color: rgb(238, 236, 236) !important;
}

.right.menu.mobile {
  display: none !important;
}

@media only screen and (max-width: 1100px) {
  .left.menu {
    display: none !important;
  }

  .right.menu {
    display: none !important;
  }

  .right.menu.mobile {
    margin-top: 5px !important;
    display: block !important;
  }
}
