.mFormButton {
  width: 40%;
}

.form {
  width: 45rem;
  text-align: center;
}

.formButtonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5rem;
  width: 100%;
}

.formOptionalRoutes {
  margin-top: 1rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.auth-explication-little {
  display: flex;
  font-size: 25px;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid #f3c1c3;
  border-radius: 6px;
  padding: 20px;
  margin-top: 2rem;
}

.auth-container {
  display: flex;
  height: 100vh;
  background: url("../assets/matcha-background.jpg");
  background-size: cover;
  min-width: 500px;
}

.auth-rightContainer {
  display: flex;
  width: 60%;
  justify-content: center;
  align-items: center;
}

.auth-leftContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 40%;
  padding: 0 10rem;
  background: #191919;
  opacity: 0.5;
  color: white;
  box-shadow: 5px 0 5px black;
  justify-content: center;
}

.auth-welcomeBox-title {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth-title {
  line-height: 1;
  font-size: 50px;
  text-align: center;
}

.auth-presentation {
  margin-top: 40px;
  line-height: 1;
  font-size: 25px;
  text-align: center;
}

.auth-explication {
  margin: 5rem 0 0 0;
  line-height: 1.5;
  font-size: 25px;
  border: 1px solid #f3c1c3;
  border-radius: 6px;
  padding: 20px;
}

.text-little {
  margin-left: 10px;
}

.auth-divider {
  width: 100%;
  display: flex;
  justify-content: center;
}

.divider-icon {
  width: 60%;
}

.auth-explication-step {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 2rem 0;
  padding: 0 2rem;
}

.auth-step {
  margin: 0 1rem;
}

.icon {
  margin-left: 1rem;
}

.auth-icon-little {
  display: none;
}

.auth-step-little {
  display: none;
}

.paddingForm {
  padding: 30px;
}

.auth-welcomeBox-buttonsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 4rem 0 2rem 0;
}

.auth-welcomeBox-buttonsContainer > * {
  margin: 2rem;
  width: 30rem;
}

.auth-explication-little {
  display: none;
}

@media screen and (max-width: 1600px) {
  .auth-explication-little {
    display: flex;
  }

  .auth-container {
    flex-direction: column;
    align-items: center;
  }

  .auth-leftContainer {
    width: 95%;
    height: 300px;
    margin-top: 20px;
    border-radius: 10px;
    padding: 10%;
  }

  .auth-explication {
    display: none;
  }

  .auth-rightContainer {
    width: 100%;
    height: 100%;
  }

  .form {
    width: 55rem;
  }
}

@media screen and (max-width: 900px) {
  .auth-leftContainer {
    height: 450px;
  }

  .auth-explication-little {
    flex-direction: column;
    margin-top: 0.5rem;
    padding: 10px;
  }
}
