.logo {
  width: 60px;
}

.home {
  color: black !important;
}

.home:active {
  color: black !important;
}

.item-page {
  cursor: pointer;
}

.item-page:hover {
  background-color: rgb(238, 236, 236) !important;
}

.right.menu.mobile {
  display: none !important;
}

@media only screen and (max-width: 1100px) {
  .left.menu {
    display: none !important;
  }

  .right.menu {
    display: none !important;
  }

  .right.menu.mobile {
    margin-top: 5px !important;
    display: block !important;
    /* border: 2px solid red; */
  }

  .ui.active.visible.item.simple.dropdown text {
    border: 2px solid red !important;
    /* color: white !important; */
    display: none !important;
  }

  div[role="listbox"] > div[role="alert"] {
    display: none !important;
  }

  .mobile.counter {
    position: absolute;
    display: block !important;
    overflow: hidden !important;
    top: 15px;
    right: 40px !important;
    /* border: 0px solid blue !important; */
  }
  .mobile.counter.open {
    position: absolute;
    display: block !important;
    overflow: hidden !important;
    top: 270px;
    right: 0px !important;
    z-index: 40;
    /* border: 0px solid blue !important; */
  }
}
