.reports-container {
  display: flex;
  justify-content: center;
  padding: 0 1.5rem;
  margin-bottom: 4rem;
}

.feed-content {
  margin-top: inherit;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
}

.reported_user_name {
  color: red;
}
