.avatar-notification {
  display: block;
  margin-right: 1rem !important;
  object-fit: contain;
}

.notification-container {
  display: flex;
  justify-content: center;
}

.notification-user-container-unseen {
  margin-top: 1.5rem !important;
  /* border: 2px solid red; */
  background-color: rgba(241, 239, 239, 0.952) !important;
  border-radius: 20px;
  border: 1px solid rgb(202, 200, 200) !important;
  padding: 0.5em !important;
  z-index: 400;
}
.notification-user-container {
  margin-top: 1.5rem !important;
  z-index: 400;
  padding: 0.5em !important;
}

.feed-content {
  margin-top: inherit;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
}

.link-feed {
  margin-bottom: 1rem !important;
}

.time-feed {
  font-size: 1.3rem !important;
}
