.container-history {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 60%;
  margin-top: 1rem;
}

.container-user {
  padding: 1rem;
  border: 2px solid rgba(241, 239, 239, 0.952);
  cursor: pointer;
  border-radius: 20px;
  width: 50%;
  display: flex;
  margin: 1.5rem 1.5rem;
}

.ring {
  border-radius: 50%;
  width: 15px;
  height: 15px;
}

.middle-history {
  width: 75%;
}

.name-container {
  position: relative;
  display: flex;
}

.name {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.date-history {
  position: absolute;
  font-weight: 400;
  font-size: 1em;
  font-style: italic;
  color: rgba(0, 0, 0, 0.4);
  right: 26%;
  margin-top: -1.5rem;
}

.text-history {
  display: flex;
  height: 4rem;
  overflow: hidden;
  margin-top: 0.3rem;
  font-size: 1.2rem;
}

.icon-history {
  position: absolute !important;
  margin-top: -3rem !important;
  right: 26%;
}

.container-message {
  width: 100%;
  height: 80rem;
  display: flex;
  justify-content: center;
  border: 2px solid red;
}

.icon-message {
  position: absolute;
  left: 0;
  padding: 2rem;
}

.container-conv {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 50%;
  border: 2px solid green;
  height: 100%;
}

.message-typing {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-height: 4rem;
  max-width: 100%;
  /* border: 2px solid orange; */
}

.textarea-message {
  width: 90% !important;
  min-height: 100% !important;
  margin-bottom: -2.8rem !important;
}

.send-icon {
  /* position: absolute; */
  border: 2px solid blue;
  cursor: pointer;
  display: flex !important;
  flex-direction: column;
  justify-content: flex-end !important;
  margin-bottom: 0.8rem !important;
  padding-left: 2rem !important;
  width: 10% !important;
}
