.ui.secondary.big.menu {
  position: fixed;
  background-image: linear-gradient(to top right, rgb(255, 42, 149), #fa5751e8);
  width: 101%;
  z-index: 100;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

.logo {
  width: 60px;
}

.home {
  color: black !important;
}

.home:active {
  color: black !important;
}

.item-page {
  cursor: pointer;
  color: rgb(255, 238, 238) !important;
}

.item-page:hover {
  background-color: rgb(228, 35, 67) !important;
}

.right.menu.mobile {
  display: none !important;
}

@media only screen and (max-width: 1050px) {
  .menu.mobile.right > div[role="listbox"] {
    width: 70px;
  }
  div[role="listbox"] > .icon.list.ul {
    position: relative;
    color: rgb(255, 238, 238);
  }
  .left.menu {
    display: none !important;
  }

  .right.menu {
    display: none !important;
  }

  .right.menu.mobile {
    margin-top: 5px !important;
    display: block !important;
  }

  div[role="listbox"] > div[role="alert"] {
    display: none !important;
  }
  .menu.transition.visible > div:nth-of-type(n + 0) {
    margin: 0 0 0 0 !important;
  }

  .mobile.counter {
    position: absolute;
    display: block !important;
    overflow: hidden !important;
    top: 17px;
    right: 15px !important;
  }
  .mobile.counter.notif.open {
    position: absolute;
    display: block !important;
    overflow: hidden !important;
    top: 280px;
    right: 150px !important;
    z-index: 40;
  }
  .mobile.counter.msg.open {
    position: absolute;
    display: block !important;
    overflow: hidden !important;
    top: 323px;
    right: 150px !important;
    z-index: 40;
  }
}
