.visit-container {
  display: flex;
  justify-content: center;
}

.user-container {
  margin-top: 1.5rem !important;
}

.feed-content {
  margin-top: inherit;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.link-feed {
  margin-top: 1rem !important;
}
