.card .image {
  top: 0px;
  left: 0px;
  width: 290px;
}
.card .profile-pic-card {
  display: block;
  max-width: 290px;
  max-height: 255px;
  object-fit: contain;
}
.ui.card {
  /* left: 20px; */
  display: block;
  position: relative;
  float: left;

  margin-left: 30px;
}
