.card .image {
  top: 0px;
  left: 0px;
  width: 290px;
}

.card .profile-pic-card {
  display: block;
  min-height: 19rem;
  max-height: 19rem;
  object-fit: contain;
}

.ui.card.user {
  display: block;
  position: relative;
  float: left;
  margin: 1.2rem;
  height: 30rem !important;
}

.popularity {
  position: relative;
  top: -30px;
  background-color: rgba(173, 173, 173, 0.671);
  height: 30px;
}

.bottom-card {
  position: absolute !important;
  margin-top: 27rem !important;
  width: 100% !important;
  font-size: 0.9rem !important;
}

.venus.icon {
  color: rgb(255, 73, 103);
}

.mars.icon {
  color: rgb(0, 153, 255);
}

.mars.stroke.horizontal.icon {
  color: rgb(143, 0, 187);
}

.tag-home {
  margin-top: 1rem !important;
  max-width: 8rem;
}

/*Sort and filter buttons*/

.container-sort {
  display: flex;
  justify-content: center;
  height: 50px;
}

.divider-match {
  transform: rotate(90deg);
  width: 3.5rem !important;
}

.button-modal {
  display: flex;
  justify-content: space-around;
}

.container-all-match {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  margin-bottom: 10urem;
}

/*Inside the modal*/

.modal-header {
  text-align: center;
  font-size: 2.5rem !important;
  background: #f9fafb !important;
}

.text-preference-search {
  font-size: 1.5rem;
  font-weight: 600;
}

.rc-slider-track {
  background-color: rgb(241, 217, 80) !important;
  height: 0.4rem !important;
}

h5 {
  width: 5rem;
}

.left-filter-number {
  text-align: center;
}

.container-range {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.range {
  display: flex;
  width: 65% !important;
}

.tagList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.container-range .tagList {
  max-width: 60rem;
}

.container-range .tagList .ui.tag.label {
  margin: 2px 1.5em 0 0;
  outline: none;
}

.container-range .range span {
  padding: 0 10px 0 30px;
}

.ui.compact.menu {
  margin: 0px 0px 0px 25px;
  float: left;
}

.text-search {
  font-size: 2rem;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  left: 0;
}
