.avatar-visit {
  margin-right: 1rem !important;
}

.visit-container {
  display: flex;
  justify-content: center;
}

.user-container {
  margin-top: 1.5rem !important;
}

.feed-content {
  margin-top: inherit;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
}

.link-feed {
  margin-bottom: 1rem !important;
}

.time-feed {
  font-size: 1.3rem !important;
}
