.setting-container {
  position: fixed;
  bottom: 0;
  left: 1rem;
  margin: 0 2rem 2rem 0;
}

.title-report {
  text-decoration: underline;
  cursor: pointer;
}

.cancel-button {
  left: 0 !important;
  position: absolute !important;
}
